In [26]:
import pandas as pd

In [27]:
tmp = pd.read_csv('final_sentence_df.csv')

In [28]:

tmp.head()

,직무,sentence,nouns,kmeans_label
0,머신러닝 엔지니어,기존 플리토 번역기에 신규 언어쌍 추가 및 플리토 번역기 성능 고도화를 담당합니다,"['언어', '성능', '고도화']",2
1,머신러닝 엔지니어,LLM 학습 및 finetuning을 통해 내부적으로 필요한 LLM 개발을 진행합니다,"['LLM', '학습', 'finetuning', 'LLM']",3
2,머신러닝 엔지니어,"AI , ML 개발 방향성에 대한 전략을 수립합니다","['AI', 'ML', '방향성']",3
3,머신러닝 엔지니어,기업 고객에게 필요한 LLM 학습 데이터 구축 가이드라인 수립 및 사내 데이터 구축...,"['고객', 'LLM', '학습', '데이터', '구축', '가이드', '데이터',...",1
4,머신러닝 엔지니어,"AI , ML 등 관련 분야에서 박사 학위를 받았거나 받을 예정인 분","['AI', 'ML', '등', '박사', '학위']",0

In [29]:
# tmp.drop(['vector'], axis=1, inplace=True)

In [14]:
import ast

In [30]:
tmp.loc[tmp.nouns != '[]',:]

,직무,sentence,nouns,kmeans_label
0,머신러닝 엔지니어,기존 플리토 번역기에 신규 언어쌍 추가 및 플리토 번역기 성능 고도화를 담당합니다,"['언어', '성능', '고도화']",2
1,머신러닝 엔지니어,LLM 학습 및 finetuning을 통해 내부적으로 필요한 LLM 개발을 진행합니다,"['LLM', '학습', 'finetuning', 'LLM']",3
2,머신러닝 엔지니어,"AI , ML 개발 방향성에 대한 전략을 수립합니다","['AI', 'ML', '방향성']",3
3,머신러닝 엔지니어,기업 고객에게 필요한 LLM 학습 데이터 구축 가이드라인 수립 및 사내 데이터 구축...,"['고객', 'LLM', '학습', '데이터', '구축', '가이드', '데이터',...",1
4,머신러닝 엔지니어,"AI , ML 등 관련 분야에서 박사 학위를 받았거나 받을 예정인 분","['AI', 'ML', '등', '박사', '학위']",0
...,...,...,...,...
15766,DBA,"데이터베이스 개발 경험 TSQL, Ansi SQL, Shell Script, ...","['데이터', '베이스', 'SQL']",2
15767,DBA,"데이터 모델링에 대한 경험모델링 절차 , 정규화 및 비정규화 있으신 분","['데이터', '모델', '모델링', '정규화']",3
15768,DBA,"Windows, Linux, Cloud 환경에 대한 기본 지식 있으신 분",['Cloud'],3
15769,DBA,데이터 모델 검수 및 가이드 경험 있으신 분,"['데이터', '모델', '가이드']",3
15770,DBA,데이터 흐름 분석 및 데이터 표준화 경험 있으신 분,"['데이터', '흐름', '분석', '데이터', '표준']",3

In [32]:
final = tmp.loc[tmp.nouns != '[]',:]

In [34]:
final.kmeans_label = final.kmeans_label.astype('int8')

/var/folders/1b/dx8_94fs0q740wx3lfknk6y40000gn/T/ipykernel_9302/740713494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.kmeans_label = final.kmeans_label.astype('int8')

In [35]:
final.describe()

       kmeans_label
count  14587.000000
mean       1.763694
std        1.087948
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        3.000000

In [36]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14587 entries, 0 to 15770
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   직무            14587 non-null  object
 1   sentence      14587 non-null  object
 2   nouns         14587 non-null  object
 3   kmeans_label  14587 non-null  int8
dtypes: int8(1), object(3)
memory usage: 470.1+ KB

In [37]:
final.to_csv('final_sentence_df.csv', index=False)

In [22]:
tmp.to_csv('final_sentence_df.csv', index=False)

In [24]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15771 entries, 0 to 15770
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   직무            15771 non-null  object
 1   sentence      15771 non-null  object
 2   nouns         15771 non-null  object
 3   kmeans_label  15771 non-null  int8
dtypes: int8(1), object(3)
memory usage: 385.2+ KB

In [38]:
15771 // 3

5257

In [39]:
import pandas as pd

# 데이터 로드
df = pd.read_csv('final_sentence_df.csv')

# 데이터 분리
third = len(df) // 3  # 1/3 지점 찾기
df1 = df.iloc[:third]  # 첫 번째 부분
df2 = df.iloc[third:2*third]  # 두 번째 부분
df3 = df.iloc[2*third:]  # 세 번째 부분

# 분리된 데이터 저장
df1.to_csv('final_sentence_df_1.csv', index=False)
df2.to_csv('final_sentence_df_2.csv', index=False)
df3.to_csv('final_sentence_df_3.csv', index=False)